/* Floating Particles Component Styles */

.connectionParticles {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  z-index: 999;
}

.particle {
  position: absolute;
  width: 3px;
  height: 3px;
  background: var(--accent);
  border-radius: 50%;
  opacity: 0.4;
  animation: particleFloat 20s linear infinite;
}

.particle:nth-child(1) {
  top: 20%;
  left: 10%;
  animation-delay: 0s;
}

.particle:nth-child(2) {
  top: 40%;
  right: 15%;
  animation-delay: 5s;
}

.particle:nth-child(3) {
  top: 60%;
  left: 20%;
  animation-delay: 10s;
}

.particle:nth-child(4) {
  top: 80%;
  right: 25%;
  animation-delay: 15s;
}

@keyframes particleFloat {
  0% {
    transform: translateY(0px) scale(1);
    opacity: 0.4;
  }
  50% {
    transform: translateY(-100px) scale(1.5);
    opacity: 0.8;
  }
  100% {
    transform: translateY(-200px) scale(0.5);
    opacity: 0;
  }
}
